.pet {
    /* height: 30%; */
    width: 10%;
    position: fixed;
    z-index: 1000;
    bottom:0;
    transition: scale none;
    transition: 100ms;
    /* background-size: 30px 30px; */
    /* background-position: 0 0; */
}